@{
    ViewData["Title"] = "Forgot Password Form";   
    Layout="/Views/Home/_HomeLayout.cshtml";
}
@model ForgotPasswordModel

<div class="login-form-container">
    <form class="Login-Form" method="POST" asp-controller="Auth" asp-action="ForgotPasswordService">
        <span class="login-title">Olvidé mi contraseña</span>
        <span class="login-text-small">
            Indica tu correo electrónico para proceder con el cambio de contraseña
        </span>

        <div class="form-group form-group-first">
            <label class="label"  for="username">Email</label>
            <br>
            <input  class="form-input" type="email" id="Email" name="Email" required>
        </div>

        <button class="login-button" >Enviar</button>
        @if (ViewData["ErrorMessage"] != null)
        {
            <div>
                <br>
                <span class="error-login">@ViewData["ErrorMessage"]</span>
            </div>
        }
        <div class="register-message">
            ¿Ya recordaste? <a href="/Home/Index" class="msg-resgister-now">¡Inicia de Sesión!</a>
        </div>
    </form>
    @if (ViewData["Success"] != null)
    {
        <div class="success-message text-center">
            <br>
            <span class="label">
                En breve recibirás un correo para cambiar tu contraseña
            </span>
            <br>
            <br>
            <i class="fa-solid fa-circle-check" style="font-size: 2rem; color: green;"></i>
        </div>
        
    }
</div>




