@{
    ViewData["Title"] = "Home";
    Layout = "_MainPageLayout";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
</head>
<body>
    <div class="p-3 pb-md-4 mx-auto text-center">
        <div class="display-4 msgConvert">Sube los archivos que</div>
        <div class="display-4 msgConvert">quieres convertir</div>
        <div class="display-4 msgConvertExtensions">.doc, .docx, .xls, .xlsx, .ppt, .pptx.</div>
    </div>  
    <div class="row justify-content-center row-cols-3 row-cols-md-2 mb-2 text-center ">
        <div class="card-container d-flex flex-column justify-content-center align-items-center">
            <div class="card mb-4 card-box d-inline-flex h-auto">

                <div class="mb-3 d-flex flex-row justify-content-center align-items-center">
                    <h1 class="file-count" id="file-count">0</h1>
                    <span class="files-text">files</span>
                </div>
                <form method="post" action="/mainpage/upload" enctype="multipart/form-data">
                    <div class="card-body d-flex flex-column justify-content-center align-items-center">
                        <label for="file-upload" class="custom-file-upload w-50 d-flex justify-content-center align-items-center">
                            <i class="fa fa-cloud-upload"></i> Subir archivo
                        </label>
                        <input id="file-upload" type="file" name="file" multiple="multiple" class="upload-input" />
                        <button type="submit" class="w-50 btn btn-primary btnFiles">Convertir Archivos</button>
                    </div>
                </form>
                @if (ViewData["ErrorMessage"] != null)
                {
                    <div>
                        <span class="error-upload">@ViewData["ErrorMessage"]</span>
                    </div>
                    <br>
                }
            </div>
            <div class="linea w-100">
                <div class="circulo"></div>
            </div>
            <span class="msgLinks msg-upload msg-convert-links">Ingresa los links a convertir separados por ","</span>
            <div class="form-links">
                <form method="post" action='@Url.Action("UploadLinks", "MainPage")'>
                    <div class="input-group mb-3 inputLinks">
                        <input type="text" id="link-input" class="form-control" name="links" 
                        aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
                        <button class="btn btn-success" type="submit">
                            <i class="fas fa-check"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div> 
    </div>

    <script>
        const input = document.querySelector('#file-upload');
        input.addEventListener('change', function() {
            const count = this.files.length;
            const countElement = document.querySelector('#file-count');     
            countElement.innerText = count;
        });
    </script>
    
</body>
</html>
