@{
    ViewData["Title"] = "Login Form";   
    Layout="_HomeLayout";
}
<div class="login-form-container">
    <form class="Login-Form" action="/mainpage" method="POST">
        <span class="login-title">Inicio de sesión</span>
        <span class="login-text-small">Inicia sesión ahora para utilizar todas 
            las funciones de nuestra plataforma</span>

        <div class="form-group form-group-first">
            <label class="label" for="username">Email</label>
            <br>
            <input class="form-input" type="email" id="email" name="email" required> 
        </div>
        <div class="form-group">
            <label class="label" for="password">Contraseña</label>
            <br>
            <input class="form-input" type="password" id="password" name="password" required>
        </div>

        <div class="forgot-password">
            <a class="forgot-password-message" href="#">Olvidé mi contraseña</a>
        </div>

        <button class="login-button" >Iniciar sesión</button>
        <div class="register-message">
            ¿No tienes cuenta? <a href="#" class="msg-resgister-now">¡Regístrate ahora!</a>
        </div>
        
    </form>
</div>




