@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
</head>
<div class="container">
    <div class="left">       
        <partial name="Login/LoginForm"/>       
        <partial name="Register/RegisterForm"/>       
    </div>
    <div class="right">
        <img src="https://via.placeholder.com/500x500" class="img-fluid" alt="Responsive image">
    </div>
    <script src="~/js/register.js"></script>
</div>




