.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}
.left {
    flex: 1; /* Esto hará que la columna izquierda ocupe todo el ancho disponible */
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

.right {
    flex: 1; /* Esto hará que la columna derecha ocupe todo el ancho disponible */
    background-image: url("ruta/de/la/imagen.jpg");
    background-size: cover;
    background-position: center;
}
.form-group {
    display: block;
}

.login-button {
    margin-top: 10px;
}