<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
</head>
<body>
  <div style="display: flex; flex-direction: row;">
    <div style="width: 50%; display: flex; align-items: center; justify-content: center;">
      <div style="width: 75%;height: fit-content; display: flex; flex-direction: column; justify-content: center; text-align: center;">
        <h2>Convierte tus</h2>
        <h2>archivos</h2>
        <span class="text-welcome">Somos una página con la disponibilidad de</span>
        <span class="text-welcome">convertir lotes de archivos a formato</span>
        <span class="text-welcome pdf">>PDF</span>
      </div>
    </div>

    <div class="image-container" style="width: 50%; display: flex; justify-content: center;">
      <img class="image" src="../Images/Gif2.gif">
      <div class="glass-panel">
        <span class="text">>MultiplePDF</span>
      </div>
    </div>
  </div>
  <div class="containterButton" style="text-align: center;">
      <a href="/Home/">
        <button class="btnWelcome btn-primary" type="button"
          style="background: rgb(255,119,100);">
          <i class="btnIcon fa-solid fa-play"></i>
        </button>
      </a>
    </div>
</body>

</html>

