@{
    ViewData["Title"] = "Main";
}
<!DOCTYPE html>

<body>
    <div class="card-body d-flex flex-column justify-content-center align-items-center">
        <a style="text-align: center; font-size: 50px;margin-bottom: 70px;"><b>MultiplePDF</b></a>
        <a style="text-align: center; font-size: 50px;margin-bottom: 70px;"><b>¡Convierte tus
                archivos!</b></a>
        <p style="text-align: center; font-size: 20px; margin-bottom: 30px;">
            Somos una pagina con la disponibilidad de convertir lotes de archivos a formato de pdf
        </p>
        <a href="/Home/index"><button class="btn btn-primary" type="button"
                style="text-align: center;background: rgb(255,119,100);padding: 10  px 45px; font-size: 20px;border-radius: 2rem "><b>Iniciar</b></button></a>
        <div style="width: 50%;" class="col d-flex flex-column justify-content-center"><img src="../Images/inicio.png"
                style="text-align: justify; ">
        </div>
    </div>
    </div>
</body>

</html>