@{
    ViewData["Title"] = "My Files";
    Layout="_MainPageLayout";
}

<div class="table-responsive">
    <table class="table table-hover text-center">
        <thead class="header-border">
            <tr>
                <th class="align-middle txtHead">Transacción</th>
                <th class="align-middle txtHead">Fecha</th>
                <th class="align-middle txtHead">#Archivos</th>
                <th class="align-middle txtHead">Vigencia (Horas)</th>
                <th class="align-middle txtHead">Link</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="nameFiles">1</td>
                <td class="nameFiles">24/03/2023</td>
                <td>5</td>
                <td>7</td>
                <td>
                    <button type="button" class="w-50 btn btn-primary btnDownload rounded-4">Descargar</button>
                </td>
            </tr>
            <tr>
                <td class="nameFiles">2</td>
                <td class="nameFiles">24/03/2023</td>
                <td>5</td>
                <td>16</td>
                <td>
                    <button type="button" class="w-50 btn btn-primary btnDownload rounded-4">Descargar</button>
                </td>
            </tr>
            <tr>
                <td class="nameFiles">3</td>
                <td class="nameFiles">24/03/2023</td>
                <td>5</td>
                <td>Expirado</td>
                <td>
                    <button type="button" class="w-50 btn btn-primary btnDownload rounded-4 " disabled>Descargar</button>
                </td>
            </tr>
            
        </tbody>
    </table>
</div>